@using MVC5.Common
<li>
    @Html.ActionLink("Property", "IndexLink", "Listing", new { propertyType = 32, state = 33 , type = 22}, null)
</li>
<li>
    @Html.ActionLink("Auction Procedures", "Article", "Home", new { articleKod = "ARTCL_TYPE_AUC_PRCDRS" }, null)
</li>
<li>
    @Html.ActionLink("Partner With Us", "Article", "Home", new { articleKod = "ARTCL_TYPE_PARTNER" }, null)
</li>

<li class="dropdown">
    <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
        Our Service <i class="fa fa-angle-down"></i>
    </a>

    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("Request POS", "Create", "PosRequests")
        </li>
        <li>
            @Html.ActionLink("Appoint Agent", "Create", "AppointAgents")
        </li>
    </ul>
</li>

<li class="dropdown">
    <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
        Customer Support<i class="fa fa-angle-down"></i>
    </a>

    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("FAQ", "FAQ", "Home")
        </li>
    </ul>
</li>

<li class="dropdown">
    <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
        Membership <i class="fa fa-angle-down"></i>
    </a>

    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("Buy Package", "BuyPackage", "MemberPackages")
        </li>
        <li>
            @Html.ActionLink("Free Membership", "Register", "Account")
        </li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
        News <i class="fa fa-angle-down"></i>
    </a>

    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("Auction Fair", "News", "Home")
        </li>
    </ul>
</li>