@using MVC5.Common
@if (User.IsInRole(MyConstant.Role_Admin))
{
   

    <li>
        @Html.ActionLink("Listingadmin", "Index", "Listingadmin")
    </li>
    <li>
        @Html.ActionLink("MemberPackages", "Index", "MemberPackages")
    </li>
    <li>
        @Html.ActionLink("MembershipRequests", "Index", "MembershipRequests")
    </li>
    <li>
        @Html.ActionLink("News", "Index", "News")
    </li>
    <li>
        @Html.ActionLink("Articles", "Index", "Articles")
    </li>
    <li>
        @Html.ActionLink("PosRequests", "Index", "PosRequests")
    </li>
    <li>
        @Html.ActionLink("AffiliateComissions", "Index", "AffiliateComissions")
    </li>
    <li>
        @Html.ActionLink("SAK", "Index", "SAK")
    </li>
    <li>
        @Html.ActionLink("SK", "Index", "SK")
    </li>
    <li>
        @Html.ActionLink("Menus", "Index", "Menus")
    </li>
    <li>
        @Html.ActionLink("AppointAgents", "Index", "AppointAgents")
    </li>

}
