@model MVC5.Models.RegisterViewModel
@using MVC5.Models
@{
    ViewBag.Title = "Daftar Keahlian";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            
            <hr />
            @if (ViewBag.shownotification != null && ViewBag.shownotification == true)
            {
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <strong>Amaran!</strong> @ViewBag.errormsg
                </div>
            }
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    <br />
                    <span class="label label-danger">
                        Sila gunakan alamat emel yang sah!
                    </span>
                    <br />
                    <br />
                    Tiada Emel? <a href="https://accounts.google.com/SignUp" target="_blank">Klik untuk daftar akaun emel di google</a>
                </div>
                
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            @Html.HiddenFor(m => m.Introducer)
            
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn green btn-lg" value="Daftar Ahli" />
                </div>
            </div>

            
            </div>
       
        </div>
            }
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
