@model MVC5.Models.VM.ListingVO
@using MVC5.Common
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="component-bg">
    <div class="container">
        <!-- Forms
        ================================================== -->
        <div class="bs-docs-section mar-b-30">

            <!-- Sequence Modern Slider -->
            @using (Html.BeginForm("Index", "Listing", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {



                <div class="bg-gray" style="padding-top:20px;">


                    <div class="container">
                        <div class="row">
                            <div class="form-group col-md-3 wow fadeInRight">

                                @Html.DropDownList("PropertyTypeId", null, htmlAttributes: new { @class = "form-control newsletter-input" })


                            </div>

                            <div class="form-group col-md-2 wow fadeInRight">

                                @Html.DropDownList("NegeriID", null, htmlAttributes: new { @class = "form-control newsletter-input" })


                            </div>

                            <div class="form-group col-md-2 wow fadeInRight">

                                @Html.DropDownList("ListingTypeId", null, htmlAttributes: new { @class = "form-control newsletter-input" })




                            </div>

                            <div class="form-group col-md-4">


                                <div class="input-group wow fadeInRight">
                                    @Html.EditorFor(model => model.search.Address, new { htmlAttributes = new { @class = "form-control newsletter-input", @placeholder = "Enter Location Name" } })
                                    <span class="input-group-btn">
                                        <button class="btn btn-inverse btn-hg" type="submit" name="submit">Search</button>
                                    </span>
                                </div>



                            </div>

                        </div><!-- /row -->



                    </div><!-- /container -->


                </div>
            }






            <div class="row">




                <div class="col-lg-9 ">
                    <h2 id="forms-example">
                        @if (Request.IsAuthenticated)
                        {@Model.listing.UnitNo}  @Model.listing.Address1 @Model.listing.Poskod @Model.listing.Bandar.Nama @Model.listing.Negeri.Nama
                    </h2>
                    @if (!Request.IsAuthenticated)
                    {
                        @Html.ActionLink("View FullAddress", "Register", "Account")
                    }

                    <h4>@Model.listing.PropertyType.Nama (<i class="fa fa-eye"></i> @ViewBag.ListingViewCount Views)</h4>
                    <div class="blog-item">
                        <div class="row">

                            <div class="col-lg-6 col-sm-6">
                                <div class="blog-img">
                                    @if (Model.imgUrl == null)
                                    {
                                        <img src="@Html.Action("GetImageUrl", "Home", new { id = Model.listing.PropertyTypeId})" alt="" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/img/property-type/@Model.listing.Id/default.jpg" alt="" />
                                    }

                                </div>

                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <table class="table">

                                    <tbody>
                                        <tr>
                                            <td>
                                                Auction Price
                                            </td>
                                            <td>
                                                <strong>RM @Model.listing.Price</strong>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Auction Date
                                            </td>
                                            <td>
                                                <strong>@Model.listing.AuctionDate.Value.ToShortDateString()</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Built up
                                            </td>
                                            <td>
                                                <strong>RM @Model.listing.Size (Sq.ft)</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Deposit
                                            </td>
                                            <td>
                                                <strong>10 %</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Restriction
                                            </td>
                                            <td>
                                                <strong>No Info</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <div class="col-md-6">

                                    @Html.ActionLink("Appoint Agent", "Create", "AppointAgents", null, htmlAttributes: new { @class = "btn btn-danger btn-block" })
                                </div>
                                <div class="col-md-6">

                                    @Html.ActionLink("Request POS", "Create", "PosRequests", null, htmlAttributes: new { @class = "btn btn-primary btn-block" })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-8 col-sm-8">
                                <h1>
                                    Premium Info 
                                </h1>
                               
                                @if (Model.Subscribe)
                                {
                                    <table class="table">
                                     

                                        <tbody>
                                            <tr>
                                                <td>
                                                    Type of Auction
                                                </td>
                                                <td>
                                                    <strong>@Model.listing.AuctionType.Nama</strong>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Auction Bank
                                                </td>
                                                <td>
                                                    <strong>@Model.listing.AuctionBank.Nama</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Auction Venue
                                                </td>
                                                <td>
                                                    <strong>@Model.listing.AuctionVenue</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Auction Time
                                                </td>
                                                <td>
                                                    <strong>@Model.listing.AuctionTime</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Auctioneer
                                                </td>
                                                <td>
                                                    <strong>@Model.listing.AuctionNeer</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Lawyer
                                                </td>
                                                <td>
                                                    <strong>@Model.listing.Lawyer</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Assignor
                                                </td>
                                                <td>
                                                    <strong>@Model.listing.Assignor</strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>@Html.ActionLink("Upgrade To VIP", "BuyPackage", "MemberPackages", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Type of Auction
                                                </td>
                                                <td>
                                                    <strong>VIP Member Only</strong>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Auction Bank
                                                </td>
                                                <td>
                                                    <strong>VIP Member Only</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Auction Venue
                                                </td>
                                                <td>
                                                    <strong>VIP Member Only</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Auction Time
                                                </td>
                                                <td>
                                                    <strong>VIP Member Only</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Auctioneer
                                                </td>
                                                <td>
                                                    <strong>VIP Member Only</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Lawyer
                                                </td>
                                                <td>
                                                    <strong>VIP Member Only</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Assignor
                                                </td>
                                                <td>
                                                    <strong>VIP Member Only</strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                                
                                

                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="thumbnail wow fadeInUp bg-gray" data-wow-delay=".1s">
                                    <img src="~/Content/img/team/member1.jpg" alt="">
                                    <div class="caption">
                                        <h4>
                                            Our Agent
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit
                                        </p>
                                        
                                        @Html.ActionLink("Contact Agent", "Create", "AppointAgents", null, htmlAttributes: new { @class = "btn btn-success btn-block" })
                                      <br />
                                         <p class="text-center">
                                            <a href="@MyConstant.wasapApiContact" target="_blank">
                                                
                                                <i class="fa fa-phone">
                                                </i>
                                                @MyConstant.last_office_noTel
                                            </a>
                                            <br />
                                            <a href="@MyConstant.wasapApiContact" target="_blank">
                                                
                                                <i class="fa fa-phone">
                                                </i>
                                                @MyConstant.agent_noTel
                                            </a>
                                        </p>
                                            
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center feature-head wow fadeInDown" style="padding-bottom:20px;">
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-danger btn-block btn-lg" target="_blank">Check Market Value</a>
                                   
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-success btn-block btn-lg" target="_blank">Check Rental</a>
                                    
                                </div>
                                <div class="col-md-4">
                                    @Html.ActionLink("Request POS", "Create", "PosRequests", null, htmlAttributes: new { @class = "btn btn-primary btn-block btn-lg" })
                                </div>

                            </div>



                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                
                                <h2><i class="fa fa-calculator"></i> Loan Calculator</h2>
                                <hr />
                                <div class="form-group col-md-4">Loan Amount (RM)
                                    <input type="text" class="form-control" name="amount" value="@Model.listing.Price" onkeyup="loanCalculater()">
                                    </div>
                                <div class="form-group col-md-4">Interest Rate (%)
                                    <input type="text" class="form-control" name="interest" value="4.5" onkeyup="loanCalculater()">
                                </div>
                                <div class="form-group col-md-4">Loan Term (Years)
                                    <input type="text" class="form-control" name="years" value="30" onkeyup="loanCalculater()">
                                </div>
                                <div class="form-group col-md-4">Monthly Payment (RM)
                                    <input type="text" class="form-control" readonly="readonly" name="monthly-payment">
                                </div>
                                    
                                    
                                   
                                   
                                </div>
                                
                            </div>
                       
                        </div>
                    @Html.ActionLink("Go Back", "Index", "Listing", new { address = Model.search.Address }, htmlAttributes: new { @class = "btn btn-danger right" })

                </div>



                <div class="col-lg-3">
                    <div class="blog-side-item">
                        <div class="category">
                            <h3>
                                <i class="fa fa-gavel"></i> Page Link
                            </h3>
                            <ul class="list-unstyled">
                                @Html.Partial("MainMenu")
                            </ul>
                        </div>

                        <div class="blog-post">
                            <h3>
                                <i class="fa fa-bullhorn"></i> Announcement
                                
                            </h3>
                            
                               @foreach (var item in Model.NewsList)
                               {
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>@item.DateCreated.ToShortDateString()</strong>
                                        </h5>

                                            @Html.Raw(item.Content)
                                      
                                        <a href="@item.Link" target="_blank">Read More</a>
                                    </div>
                                </div>
                               }

                              


                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script>

    window.onload = function () {
        loanCalculater();
    };

    function loanCalculater() {
        var amount = $('input[name="amount"]').val();
        var interest = $('input[name="interest"]').val();
        var years = $('input[name="years"]').val();
        if (amount && interest && years) {
            var rate = interest / 1200;
            var months = years * 12;
            var payment = ((amount * rate) / (1 - Math.pow((1 + rate), -months))).toFixed(2);
            $('input[name="monthly-payment"]').val(payment);
        } else {
            $('input[name="monthly-payment"]').val(0);
        }
    }
</script>
