@model PagedList.IPagedList<MVC5.Models.VM.ListingVO>
@using MVC5.Common
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="component-bg">
    <div class="container">
        <!-- Forms
        ================================================== -->
        <div class="bs-docs-section mar-b-30">

            <!-- Sequence Modern Slider -->
            @using (Html.BeginForm("Index", "Listing", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {



                <div class="bg-gray" style="padding-top:20px;">


                    <div class="container">
                        <div class="row">
                            <div class="form-group col-md-3 wow fadeInRight">

                                @Html.DropDownListFor(model => model.FirstOrDefault().PropertyTypeId, null, htmlAttributes: new { @class = "form-control newsletter-input" })


                            </div>

                            <div class="form-group col-md-2 wow fadeInRight">

                                @Html.DropDownListFor(model => model.FirstOrDefault().NegeriId, null, htmlAttributes: new { @class = "form-control newsletter-input" })


                            </div>

                            <div class="form-group col-md-2 wow fadeInRight">

                                @Html.DropDownListFor(model => model.FirstOrDefault().ListingTypeId, null, htmlAttributes: new { @class = "form-control newsletter-input" })




                            </div>

                            <div class="form-group col-md-4">


                                <div class="input-group wow fadeInRight">
                                    @Html.EditorFor(model => model.FirstOrDefault().search.Address, new { htmlAttributes = new { @class = "form-control newsletter-input", @placeholder = "Enter Location Name" } })
                                    <span class="input-group-btn">
                                        <button class="btn btn-inverse btn-hg" type="submit" name="submit">Search</button>
                                    </span>
                                </div>



                            </div>

                        </div><!-- /row -->


                    </div><!-- /container -->


                </div>
            }



            

            



                <div class="col-lg-9">
                    <h2 id="forms-example">Auction Properties in Malaysia for "@ViewBag.enterLocation" (@ViewBag.listSize Results Found)</h2>

                    @foreach (var item in Model)
                    {

                        <div class="row">
                            <hr>
                            <div class="col-lg-5 col-sm-5">
                                <div class="media">
                                    <a class="pull-left" href="javascript:;">
                                        @if (item.imgUrl == null)
                                        {

                                            <img class="media-object-large" src="@Html.Action("GetImageUrl", "Home", new { id = item.listing.PropertyTypeId})" alt="">
                                        }
                                        else
                                        {
                                            <img class="media-object-large" src="@item.imgUrl" alt="">
                                        }

                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                           @if (Request.IsAuthenticated) {@item.listing.UnitNo}  @item.listing.Address1 @item.listing.Poskod @item.listing.Negeri.Nama
                                        </h4>
                                        <h2>RM @item.listing.Price</h2>
                                        <p>
                                            @item.listing.Size (Sq.ft)
                                        </p>
                                        <p>
                                            @if (item.listing.AuctionDate != null)
                                            {
                                                <strong>Auction Date : </strong>
                                                @item.listing.AuctionDate.Value.ToShortDateString()
                                            }
                                            
                                        </p>
                                        <br />
                                        @Html.ActionLink("Read More", "Details", new { id = item.listing.GenerateSlug(), address = item.search.Address }, htmlAttributes: new { @class = "btn btn-danger right" })
                                        @if (User.IsInRole(MyConstant.Role_Admin))
                                        {
                                            @Html.ActionLink("Edit", "Edit", "Listingadmin", new { id = item.listing.Id }, null)
                                            @Html.ActionLink("Details", "Details", "Listingadmin", new { id = item.listing.Id }, null)
                                            @Html.ActionLink("Delete", "Delete", "Listingadmin", new { id = item.listing.Id }, new { onclick = "return confirm('Confirm delete?');" })
                                        }

                                    </div>
                                </div>
                            </div>

                            </div>
                            }


                            <br />
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                            @Html.PagedListPager(Model, page => Url.Action("IndexLink",
    new { page, sortOrder = ViewBag.CurrentSort, address = ViewBag.address, propertyType = ViewBag.propertyType, state = ViewBag.state, type = ViewBag.type, minPrice = ViewBag.minPrice, maxPrice = ViewBag.maxPrice, minArea = ViewBag.minArea, maxArea = ViewBag.maxArea, aucDt = ViewBag.aucDt }))

                        </div>

                <div class="col-lg-3">
                    <div class="blog-side-item">
                        

                        <div class="category">
                            <h3>
                                <i class="fa fa-gavel"></i> Page Link
                            </h3>
                            <ul class="list-unstyled">
                                @Html.Partial("MainMenu")
                            </ul>
                        </div>

                        <div class="blog-post">
                            <h3>
                                <i class="fa fa-bullhorn"></i> Announcement

                            </h3>

                            @foreach (var item in Model.FirstOrDefault().NewsList)
                            {
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>@item.DateCreated.ToShortDateString()</strong>
                                        </h5>

                                        @Html.Raw(item.Content)

                                        <a href="@item.Link" target="_blank">Read More</a>
                                    </div>
                                </div>
                            }




                        </div>



                        


                        


                    </div>
                </div>
         

        </div>
    </div>
</div>
