@model MVC5.Models.IndexViewModel
@using MVC5.Common
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<script src="~/Scripts/clipboard.min.js"></script>
<script>
    var btn = document.getElementById('btn');
    var clipboard = new Clipboard('.btn');
    clipboard.on('success', function (e) {
        console.log(e);
    });
    clipboard.on('error', function (e) {
        console.log(e);
    });
</script>

<div class="container">


  

        <div class="row">
            <div class="col-lg-9">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-lg-10 col-sm-10">
                            <h2><i class="fa fa-user"></i> Profile </h2>
                        </div>
                        </div>

                    <div class="row">
                        <div class="col-lg-10 col-sm-10">
                            <h4><i class="fa fa-envelope"></i> @Model.CurrentUser.Email </h4>
                            @if (Model.accType != null)
                            {
                                <h4><i class="fa fa-certificate"></i> @Model.accType.PackageType.Nama - @Model.accstatus</h4>
                                <h4><i class="fa fa-calendar"></i> Valid Until : @Model.accType.TarikhTamat.Value.ToShortDateString()</h4>
                            }
                            else
                            {
                                <h4><i class="fa fa-certificate"></i> Free Account </h4>
                            }
                            
                            @if (Model.HasPassword)
                            {
                                <i class="fa fa-tags"></i>  @Html.ActionLink("Tukar Kata Laluan", "ChangePassword", "Manage")
                            }
                            else
                            {
                                <i class="fa fa-tags"></i>  @Html.ActionLink("Set Kata Laluan", "SetPassword", "Manage")
                            }
                            <hr />
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Application</h3>
                                </div>
                                <div class="box-body">
                                    
                                    
                                    <a class="btn btn-app" href="/Transaction/MessageList">
                                        <span class="badge bg-yellow">@Model.totalMessage</span>
                                        <i class="fa fa-bullhorn"></i> Notifications
                                    </a>
                                    <a class="btn btn-app" href="/PosRequests/Index">
                                        <span class="badge bg-green">@Model.PosRequest.Count()</span>
                                        <i class="fa fa-barcode"></i> Pos Request
                                    </a>
                                    <a class="btn btn-app" href="/MembershipRequests/Index">
                                        <span class="badge bg-purple">@Model.MembershipRequest.Count()</span>
                                        <i class="fa fa-users"></i> Membership
                                    </a>
                                    <a class="btn btn-app" href="/AppointAgents/Index">
                                        <span class="badge bg-teal">@Model.AppointAgent.Count()</span>
                                        <i class="fa fa-inbox"></i> Appoint Agent
                                    </a>
                                    <a class="btn btn-app" href="#">
                                        <span class="badge bg-red">0</span>
                                        <i class="fa fa-heart-o"></i> My Auction
                                    </a>
                                </div><!-- /.box-body -->
                            </div>

                        </div>
                    </div>

             
                    </div>
                </div>

            <div class="col-lg-3">
                <div class="blog-side-item">
                    <div class="category">

                            <img src="Manage/BarcodeImage" />

                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="btn" class="btn red" data-clipboard-target="#foo">Copy Link</button>
                                </span>
                                <input id="foo" type="text" class="form-control" value="@Model.userLink">
                            </div>
                       
                        <hr />
                    </div>

                </div>
            </div>

            
        </div>





  


    
</div>
