@model MVC5.Models.VM.FileVO
@using MVC5.Common

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-page">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Claim Request
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th>
                                        User
                                    </th>
                                    <th>
                                        point
                                    </th>
                                    <th>
                                        Level
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Claim
                                    </th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.batalList)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CurrentUser.UserName) - User Active? @Html.DisplayFor(modelItem => item.CurrentUser.EmailConfirmed)
                                        </td>
                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.transantion.point)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.transantion.level)
                                        </td>
                                        <td>
                                            @if (item.transantion.statusActive)
                                            {
                                                <span class="label label-sm label-success">
                                                    Active
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="label label-sm label-danger">
                                                    Not Active
                                                </span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.transantion.claimRequestSend && item.transantion.statusActive && !item.transantion.claimRequestApproval)
                                            {
                                                @Html.ActionLink("Lulus", "ApproveClaimRequest", new { id = item.transantion.Id, activate = true })
                                            }

                                            @if (item.transantion.claimRequestApproval)
                                            {
                                                <span class="label label-sm label-success">
                                                    Berjaya Ditebus
                                                </span>

                                            }

                                        </td>
                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Claim Lulus
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th>
                                        User
                                    </th>
                                    <th>
                                        point
                                    </th>
                                    <th>
                                        Level
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Claim
                                    </th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.lulusList)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CurrentUser.UserName) - User Active?  @Html.DisplayFor(modelItem => item.CurrentUser.EmailConfirmed)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.transantion.point)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.transantion.level)
                                        </td>
                                        <td>
                                            @if (item.transantion.statusActive)
                                            {
                                                <span class="label label-sm label-success">
                                                    Active
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="label label-sm label-danger">
                                                    Not Active
                                                </span>
                                            }
                                        </td>
                                        <td>


                                            @if (item.transantion.claimRequestApproval)
                                            {
                                                <span class="label label-sm label-success">
                                                    Berjaya Ditebus
                                                </span>

                                            }
                                            @if (item.transantion.claimRequestSend && item.transantion.statusActive && item.transantion.claimRequestApproval)
                                            {
                                                @Html.ActionLink("Batal", "ApproveClaimRequest", new { id = item.transantion.Id, activate = false })
                                            }

                                            

                                        </td>
                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="/Manage/Index" class="btn blue">
                Back to My Account
            </a>
        </div>
    </div>
    </div>
