@model MVC5.Models.Article
@using MVC5.Common

@{
    ViewBag.Title = "Perisytiharan Jualan Lelongan Malaysia";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}






<div class="container">
    <!--breadcrumbs start-->
    <ul class="breadcrumb" style="padding-top:30px;">
        <li><a href="index.html">Home</a></li>
        <li class="active">@Model.Header</li>
    </ul>
    <!--breadcrumbs end-->
    <hr />
    <div class="row">
        
        <!--blog start-->
        <div class="col-lg-9">
            <h2>@Model.Header</h2>
            <div class="blog-item">
                <div class="row">
                    @*<div class="col-lg-2 col-sm-2">
                        <div class="date-wrap">
                            <span class="date">
                                @Model.DateCreated.Day
                            </span>
                            <span class="month">
                                @Model.CreateDate.Value.ToString("MMMM") @Model.CreateDate.Value.ToString("yyyy")
                            </span>
                        </div>

                    </div>*@

                    <div class="col-lg-10 col-sm-10">

                        @if (Model.imgUrl != null)
                        {
                            <div class="blog-img gs">
                                <img src="~/Content/img/article/@Model.Id/@Model.imgUrl" alt="" />
                            </div>
                            <hr />
                        }
                        
                        @Html.Raw(Model.Content)


                    </div>
                </div>
               
                
               
            </div>

        </div>

        <div class="col-lg-3">
            <div class="blog-side-item">
                <div class="category">
                    <h3>
                        Page Link
                    </h3>
                    <ul class="list-unstyled">
                        @Html.Partial("MainMenu")
                    </ul>
                </div>

                

              

            </div>
        </div>


    </div>

</div>
