@model IEnumerable<MVC5.Models.AppointAgent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Appoint Agent List</h2>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Listing.Address1)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.StatusActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nama)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ic)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.contact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.address)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Listing.Address1)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ic)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.contact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.address)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


