@model MVC5.Models.MembershipRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MembershipRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Introducer.NomborAhli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introducer.NomborAhli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackageType.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageType.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.NomborAhli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.NomborAhli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TarikhSah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarikhSah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TarikhTamat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarikhTamat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
